*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    margin-top: 50px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid #bebebe;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    cursor: pointer;
}
.cell:hover{
    background-color: #e6e6e6;
}
.cell.taken{
    pointer-events: none;
}
#resetBtn{
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}